@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

.mp-pusher {
	background: #fff;
	font-weight: 300;
	font-family: 'Lato', Calibri, Arial, sans-serif;
}



.only-li > div {
	display: block;
	color:#fff;
	padding: 0.7em 1em 0.7em 1.8em;
	outline: none;
	box-shadow: inset 0 -1px rgba(0,0,0,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.1);
	font-size: 1.4em;
	-webkit-transition: background 0.3s, box-shadow 0.3s;
	-moz-transition: background 0.3s, box-shadow 0.3s;
	transition: background 0.3s, box-shadow 0.3s;
	cursor: pointer;
}

.only-li > div span {
	width:70px !important;
	display:inline-flex;
}


.only-li > div i{
	margin-right: 10px;
}

.only-li > div:hover {
	background: rgba(0,0,0,0.2);
	box-shadow: inset 0 -1px rgba(0,0,0,0);
}





 


.only-li > div select{

	padding:3px;
	width:150px;
	color:#000;
	font-size:15px !important;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}




.mp-pusher a {
	text-decoration: none;
	color: #f7f7f7;
	outline: none;
}

.mp-pusher a:hover, .mp-pusher a:focus {
	color: #fff;
	outline: none;
}

@media screen and (max-width: 69em) {
	.block {
		float: none;
		width: 100% !important;
		padding: 1em;
	}
}

@media screen and (max-width: 25em) {

	.mp-pusher {
		font-size: 80%;
	}

	.codrops-icon span {
		display: none;
	}

}